body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
}

.home {
    background: url("https://images.unsplash.com/photo-1543589077-47d81606c1bf") no-repeat center/cover;
    height: 100vh;
}

.game {
   background: url("https://images.unsplash.com/photo-1543589077-47d81606c1bf") no-repeat center/cover;
    min-height: 100vh;
}

.gift {
   background: url("https://images.unsplash.com/photo-1543589077-47d81606c1bf") no-repeat center/cover;
    min-height: 100vh;
}

.container {
    background: rgba(250, 250, 250, 0.9);
    margin: auto;
    padding: 40px;
    max-width: 500px;
    border-radius: 20px;
    margin-top: 60px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background: rgb(52, 16, 16);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: rgb(85, 13, 13);
}

.message {
    font-size: 18px;
    margin: 20px;
}

.question {
    margin: 20px 0;
}

.gift-box {
    font-size: 24px;
    padding: 20px;
    background: rgb(159, 26, 26);
    border-radius: 15px;
    cursor: pointer;
}

.hidden {
    display: none;
}

img {
    width: 100%;
    border-radius: 15px;
}
